<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JumpNBump</string>
	<key>CFBundleGetInfoString</key>
	<string>JumpNBump 1.2</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>net.sf.jumpnbump</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>JumpNBump</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>jpnb</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>NSMainNibFile</key>
	<string>SDLMain.nib</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
